.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    height: 500px;
    width: 500px;
    box-shadow: 16px 16px 10px #d7d7d7;
    border-radius: 10px;
}

.cartoon {
    width: 50px;
    height: 250px;
    background-color: #fce2c4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(5deg);
    border-left: 3px solid #ffa945;
    border-right: 3px solid #ffa945;
}

.eyes {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

.left {
    left: 47%;
    top: 34%;
    z-index: 2;
}

.left::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    top: 30%;
    position: absolute;
}

.left::after {
    content: '';
    position: absolute;
    background-color: white;
    left: 48%;
    width: 3px;
    height: 3px;
    top: 34%;
    border-radius: 50%;
}

.right::after {
    content: '';
    position: absolute;
    background-color: white;
    left: 48%;
    width: 3px;
    height: 3px;
    top: 58%;
    border-radius: 50%;
}

.right::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 10px;
}

.right {
    left: 43%;
    top: 32%;
}

.nose {
    position: absolute;
    background-color: #fce2c4;
    width: 50px;
    height: 38px;
    left: 174px;
    transform: rotate(5deg);
    top: 188px;
    border-radius: 10px 0 0 10px;
    z-index: 1;
    border: 4px solid #ffa945;
    border-right: none;
}

.nose::before {
    content: '';
    height: 4px;
    width: 14px;
    border-top: 4px solid #ffa945;
    position: absolute;
    left: 49px;
    top: -4px;
}

.ear {
    width: 18px;
    top: 42%;
    height: 18px;
    border-radius: 50%;
    border-color: transparent #ffa945 #ffa945 transparent;
    border-width: 4px;
    border-style: solid;
    position: absolute;
    right: 209.5px;
    background-color: #fce2c4;
    transform: rotate(-40deg);
}

.mouth {
    position: absolute;
    left: 42%;
    bottom: 39%;
    background-color: #fce2c4;
    width: 15px;
    height: 15px;
    border-left: 6px solid #ffa945;
    border-bottom: 4px solid #ffa945;
    border-bottom-left-radius: 10px;
    transform: skew(-40deg);
}

.hair {
    position: relative;
    bottom: -92px;
    left: 239px;
    z-index: 50;
    background-color: red;
}

.hair>:nth-child(1) {
    position: absolute;
    border-top: 20px solid green;
    width: 100px;
    height: 30px;
    left: -37px;
    bottom: -54px;
    transform: rotate(45deg);
    border-radius: 50px 40px 0 0;
}

.hair>:nth-child(2) {
    position: absolute;
    border-top: 20px solid green;
    width: 100px;
    height: 30px;
    left: -32px;
    bottom: -52px;
    transform: rotate(72deg);
    border-radius: 50px 40px 0 0;
}

.hair>:nth-child(3) {
    position: absolute;
    border-top: 20px solid green;
    width: 100px;
    height: 30px;
    left: -22px;
    bottom: -30px;
    transform: rotate(121deg);
    border-radius: 50px 40px 0 0;
}

.hair>:nth-child(4) {
    position: absolute;
    border-top: 20px solid green;
    width: 100px;
    height: 30px;
    left: -32px;
    bottom: -68px;
    transform: rotate(16deg);
    border-radius: 50px 40px 0 0;
}

.hair>:nth-child(5) {
    position: absolute;
    border-top: 20px solid green;
    width: 50px;
    height: 30px;
    left: 19px;
    bottom: -61px;
    transform: rotate(11deg);
    border-radius: 50px 40px 0 0;
}